.settings/org.eclipse.core.resources.prefs
0001-Add-one-more-plugin-to-Eclipse.patch
0001-All-the-changes-to-skip-boms-in-UTF-8.patch
0002-Add-one-more-plugin-to-Eclipse.patch
GATE.app/Contents/Info.plist
benchmark.txt
bin/gate.jar
#	../../depcache/
classes/
g1/
lib/ext/guk.jar
logfile.txt
plugins/Alignment/aligntools.jar
plugins/Alignment/classes/
plugins/Annotation_Merging/TEST-gate.merger.test.TestAnnotationMergingPlugin.xml
plugins/Annotation_Merging/annotationMerging.jar
plugins/Annotation_Merging/build/
plugins/Copy_Annots_Between_Docs/build/
plugins/Copy_Annots_Between_Docs/copyAS2AnoDoc.jar
plugins/Gazetteer_LKB/Gazetteer_LKB.jar
plugins/Gazetteer_LKB/classes/
plugins/Gazetteer_LKB/lkb-gazetteer.jar
plugins/Gazetteer_Ontology_Based/build/
plugins/Gazetteer_Ontology_Based/obg.jar
plugins/Groovy/build/
plugins/Groovy/groovy-gate.jar
plugins/Inter_Annotator_Agreement/TEST-gate.iaaplugin.test.TestIaaPlugin.xml
plugins/Inter_Annotator_Agreement/build/
plugins/Inter_Annotator_Agreement/iaaMain.jar
plugins/Jape_Compiler/build/
plugins/Jape_Compiler/japec.jar
plugins/Keyphrase_Extraction_Algorithm/build/
plugins/Keyphrase_Extraction_Algorithm/kea.jar
plugins/Lang_Arabic/arabic.jar
plugins/Lang_Arabic/build/
plugins/Lang_Cebuano/build/
plugins/Lang_Cebuano/cebuano.jar
plugins/Lang_Chinese/build/
plugins/Lang_Chinese/chinese.jar
plugins/Lang_Hindi/build/
plugins/Lang_Hindi/hindi.jar
plugins/Lang_Romanian/build/
plugins/Lang_Romanian/romanian.jar
plugins/Language_Identification/classes/
plugins/Language_Identification/languageID.jar
plugins/Learning/TEST-gate.learning.test.TestLearningAPI.xml
plugins/Learning/build/
plugins/Learning/learningapi.jar
plugins/Learning/test/chunklearning/savedFiles/
plugins/LingPipe/build/
plugins/LingPipe/lingpipe.jar
plugins/Machine_Learning/TEST-gate.creole.ml.maxent.TestMaxentWrapper.xml
plugins/Machine_Learning/build/
plugins/Machine_Learning/machinelearning.jar
plugins/Ontology/Ontology.jar
plugins/Ontology/build/
plugins/Ontology_BDM_Computation/BDMCompMain.jar
plugins/Ontology_BDM_Computation/build/
plugins/Ontology_OWLIM2/OWLIM2Ontology.jar
plugins/Ontology_OWLIM2/build/
plugins/Ontology_Tools/build/
plugins/Ontology_Tools/ontology_tools.jar
plugins/OpenNLP/classes/
plugins/OpenNLP/opennlp.jar
plugins/Parser_Minipar/MiniparWrapper.jar
plugins/Parser_Minipar/classes/
plugins/Parser_RASP/classes/
plugins/Parser_RASP/rasp2.jar
plugins/Parser_Stanford/classes/
plugins/Parser_Stanford/gate-stanford.jar
plugins/Stemmer_Snowball/classes/
plugins/Stemmer_Snowball/stemmer.jar
plugins/Tagger_Abner/abner.jar
plugins/Tagger_Abner/classes/
plugins/Tagger_Chemistry/ChemTagger.jar
plugins/Tagger_Chemistry/classes/
plugins/Tagger_Framework/TaggerFramework.jar
plugins/Tagger_Framework/classes/
plugins/Tagger_MetaMap/MetaMap.jar
plugins/Tagger_MetaMap/classes/
plugins/Tagger_NP_Chunking/Chunker.jar
plugins/Tagger_NP_Chunking/classes/
plugins/Tagger_OpenCalais/OpenCalais.jar
plugins/Tagger_OpenCalais/classes/
plugins/Tagger_TreeTagger/
plugins/Tools/classes/
plugins/Tools/tools.jar
plugins/UIMA/TEST-gate.uima.test.TestGATEInUIMA.xml
plugins/UIMA/TEST-gate.uima.test.TestUIMAInGATE.xml
plugins/UIMA/classes/
plugins/UIMA/examples/classes/
plugins/UIMA/examples/gen-src/
plugins/UIMA/examples/uima-gate-examples.jar
plugins/UIMA/uima-gate.jar
plugins/UIMA/vns-tmp/
plugins/Web_Crawler_Websphinx/build/
plugins/Web_Crawler_Websphinx/crawl.jar
plugins/Web_Search_Google/build/
plugins/Web_Search_Google/google.jar
plugins/Web_Search_Yahoo/classes/
plugins/Web_Search_Yahoo/yahoo.jar
plugins/Web_Translate_Google/build/
plugins/Web_Translate_Google/google-translate.jar
plugins/WordNet/WordNet.jar
plugins/WordNet/classes/
.settings/org.eclipse.core.resources.prefs
0001-Add-one-more-plugin-to-Eclipse.patch
0001-All-the-changes-to-skip-boms-in-UTF-8.patch
0002-Add-one-more-plugin-to-Eclipse.patch
GATE.app/Contents/Info.plist
benchmark.txt
bin/gate.jar
depcache/
classes/
g1/
lib/ext/guk.jar
logfile.txt
plugins/Alignment/aligntools.jar
plugins/Alignment/classes/
plugins/Annotation_Merging/TEST-gate.merger.test.TestAnnotationMergingPlugin.xml
plugins/Annotation_Merging/annotationMerging.jar
plugins/Annotation_Merging/build/
plugins/Copy_Annots_Between_Docs/build/
plugins/Copy_Annots_Between_Docs/copyAS2AnoDoc.jar
plugins/Gazetteer_LKB/Gazetteer_LKB.jar
plugins/Gazetteer_LKB/classes/
plugins/Gazetteer_LKB/lkb-gazetteer.jar
plugins/Gazetteer_Ontology_Based/build/
plugins/Gazetteer_Ontology_Based/obg.jar
plugins/Groovy/build/
plugins/Groovy/groovy-gate.jar
plugins/Inter_Annotator_Agreement/TEST-gate.iaaplugin.test.TestIaaPlugin.xml
plugins/Inter_Annotator_Agreement/build/
plugins/Inter_Annotator_Agreement/iaaMain.jar
plugins/Jape_Compiler/build/
plugins/Jape_Compiler/japec.jar
plugins/Keyphrase_Extraction_Algorithm/build/
plugins/Keyphrase_Extraction_Algorithm/kea.jar
plugins/Lang_Arabic/arabic.jar
plugins/Lang_Arabic/build/
plugins/Lang_Cebuano/build/
plugins/Lang_Cebuano/cebuano.jar
plugins/Lang_Chinese/build/
plugins/Lang_Chinese/chinese.jar
plugins/Lang_Hindi/build/
plugins/Lang_Hindi/hindi.jar
plugins/Lang_Romanian/build/
plugins/Lang_Romanian/romanian.jar
plugins/Language_Identification/classes/
plugins/Language_Identification/languageID.jar
plugins/Learning/TEST-gate.learning.test.TestLearningAPI.xml
plugins/Learning/build/
plugins/Learning/learningapi.jar
plugins/Learning/test/chunklearning/savedFiles/
plugins/LingPipe/build/
plugins/LingPipe/lingpipe.jar
plugins/Machine_Learning/TEST-gate.creole.ml.maxent.TestMaxentWrapper.xml
plugins/Machine_Learning/build/
plugins/Machine_Learning/machinelearning.jar
plugins/Ontology/Ontology.jar
plugins/Ontology/build/
plugins/Ontology_BDM_Computation/BDMCompMain.jar
plugins/Ontology_BDM_Computation/build/
plugins/Ontology_OWLIM2/OWLIM2Ontology.jar
plugins/Ontology_OWLIM2/build/
plugins/Ontology_Tools/build/
plugins/Ontology_Tools/ontology_tools.jar
plugins/OpenNLP/classes/
plugins/OpenNLP/opennlp.jar
plugins/Parser_Minipar/MiniparWrapper.jar
plugins/Parser_Minipar/classes/
plugins/Parser_RASP/classes/
plugins/Parser_RASP/rasp2.jar
plugins/Parser_Stanford/classes/
plugins/Parser_Stanford/gate-stanford.jar
plugins/Stemmer_Snowball/classes/
plugins/Stemmer_Snowball/stemmer.jar
plugins/Tagger_Abner/abner.jar
plugins/Tagger_Abner/classes/
plugins/Tagger_Chemistry/ChemTagger.jar
plugins/Tagger_Chemistry/classes/
plugins/Tagger_Framework/TaggerFramework.jar
plugins/Tagger_Framework/classes/
plugins/Tagger_MetaMap/MetaMap.jar
plugins/Tagger_MetaMap/classes/
plugins/Tagger_NP_Chunking/Chunker.jar
plugins/Tagger_NP_Chunking/classes/
plugins/Tagger_OpenCalais/OpenCalais.jar
plugins/Tagger_OpenCalais/classes/
plugins/Tagger_TreeTagger/
plugins/Tools/classes/
plugins/Tools/tools.jar
plugins/UIMA/TEST-gate.uima.test.TestGATEInUIMA.xml
plugins/UIMA/TEST-gate.uima.test.TestUIMAInGATE.xml
plugins/UIMA/classes/
plugins/UIMA/examples/classes/
plugins/UIMA/examples/gen-src/
plugins/UIMA/examples/uima-gate-examples.jar
plugins/UIMA/uima-gate.jar
plugins/UIMA/vns-tmp/
plugins/Web_Crawler_Websphinx/build/
plugins/Web_Crawler_Websphinx/crawl.jar
plugins/Web_Search_Google/build/
plugins/Web_Search_Google/google.jar
plugins/Web_Search_Yahoo/classes/
plugins/Web_Search_Yahoo/yahoo.jar
plugins/Web_Translate_Google/build/
plugins/Web_Translate_Google/google-translate.jar
plugins/WordNet/WordNet.jar
plugins/WordNet/classes/
